html {
    /* override light-mode variables here */
   
    --side-nav-background:#002147;
    --header-background:#002147;
    --searchbar-background:#002147;
    --toc-background:#002147;
    
/*     --primary-color:#002147;
    --primary-light-color: #002147;
    --side-nav-background:#002147;
    --side-nav-foreground:#fff;
    --header-foreground:#fff;  */
    

    #titlearea {
    color: #fff;
    }

    #nav-tree a {
    color: #fff;   
    }

}

